<form ng-submit="search(query)">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Search by username or user id..." ng-model="query">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit">Search</button>
		</span>
	</div>
</form>
<div ng-show="loading">
	loading...
</div>
<div class="results" ng-show="searchResults && searchResults.length == 0 && !loading">
	no users found
</div>
<div class="results" ng-show="searchResults && searchResults.length > 0 && !loading">
	<nav>
		<ul class="pagination">
			<li class="{{ pageInfo.current == 1 ? 'disabled' : '' }}">
				<a href="#/search/{{ query }}/{{ pageInfo.current - 1 }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>

			<li ng-repeat="page in pages" class="{{ page.number == pageInfo.current ? 'active' : '' }}">
				<a ng-href="#/search/{{ query }}/{{ page.number }}">{{ page.number }}</a>
			</li>
			<li class="{{ pageInfo.current == pageInfo.max ? 'disabled' : '' }}">
				<a href="#/search/{{ query }}/{{ pageInfo.current + 1 }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Timezone</th>
				<th>Last Login</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in searchResults" ng-click="editUser(user.id)">
				<td>{{ user.id }}</td>
				<td>{{ user.username }}</td>
				<td>{{ user.timezone }}</td>
				<td>{{ user.loggedInAt }}</td>
			</tr>
		</tbody>
	</table
	<nav>
		<ul class="pagination">
			<li class="{{ pageInfo.current == 1 ? 'disabled' : '' }}">
				<a href="#/search/{{ query }}/{{ pageInfo.current - 1 }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>

			<li ng-repeat="page in pages" class="{{ page.number == pageInfo.current ? 'active' : '' }}">
				<a ng-href="#/search/{{ query }}/{{ page.number }}">{{ page.number }}</a>
			</li>
			<li class="{{ pageInfo.current == pageInfo.max ? 'disabled' : '' }}">
				<a href="#/search/{{ query }}/{{ pageInfo.current + 1 }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>