<div ng-show="loading">
	loading...
</div>
<div ng-show="!loading">
	<div class="well" ng-repeat="pluginPermissions in availablePermissions">
		<strong>{{pluginPermissions.title}}</strong>
		<table class="table">
			<thead>
				<tr>
					<th>Setting</th>
					<th>Value</th>
					<th>Description</th>
					<th>Code</th>
					<th>Inherited</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="permission in pluginPermissions.permissions">
					<td class="value-buttons">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default btn-sm" ng-class="checkInherit(pluginPermissions.lookup, permission.code)" ng-click="setPermission(permissionGroupId, pluginPermissions.lookup, permission.code, 'inherit')">
								<input type="radio" name="value"> Inherit
							</label>
							<label class="btn btn-default btn-sm" ng-class="checkGrant(pluginPermissions.lookup, permission.code)" ng-click="setPermission(permissionGroupId, pluginPermissions.lookup, permission.code, 'grant')">
								<input type="radio" name="value"> Grant
							</label>
							<label class="btn btn-default btn-sm" ng-class="checkDeny(pluginPermissions.lookup, permission.code)" ng-click="setPermission(permissionGroupId, pluginPermissions.lookup, permission.code, 'deny')">
								<input type="radio" name="value"> Deny
							</label>
						</div>
					</td>
					<td>
						<span class="label label-default" ng-class="getValue(pluginPermissions.lookup, permission.code) ? 'label-success' : 'label-danger'">{{ getValue(pluginPermissions.lookup, permission.code) ? 'GRANT' : 'DENY' }}</span>
					</td>
					<td>{{ permission.description }}</td>
					<td>{{ permission.code }}</td>
					<td>
						<span ng-show="checkInherit(pluginPermissions.lookup, permission.code) != 'active' || (permissionGroupId == 1)">--</span>
						<a ng-show="checkInherit(pluginPermissions.lookup, permission.code) == 'active' && (permissionGroupId != 1)" ng-click="setGroup(groupPermissions[pluginPermissions.lookup][permission.code].permissionGroup.id || 1)">{{ groupPermissions[pluginPermissions.lookup][permission.code].permissionGroup.name || 'root' }}</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--
	-->
</div>