{{#extend "bootstrap"}}
	{{#append "head"}}
		<link rel="stylesheet" href="/css/permission/index.css" />
	{{/append}}
	{{#replace "body"}}
		<div class="container" ng-app="permission">
			<div class="row">
				<div class="col-sm-3" ng-controller="TreeCtrl">
					<div id="tree"></div>
				</div>
				<div class="col-sm-9" ui-view>
				</div>
			</div>
		</div>
	{{/replace}}
	{{#append "scripts"}}
		<script src="/lib/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
		<script src="/lib/angularjs/angular.min.js"></script>
		<script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="/lib/angular-resource/angular-resource.min.js"></script>
		<script src="/js/permission/app.js"></script>
		<script src="/js/permission/controllers.js"></script>
		<script src="/js/permission/services.js"></script>
		<script>
			angular.module('permission.data', [])
				.value('PermissionGroups', {{{json groups}}})
				.value('AvailablePermissions', {{{json availablePermissions}}})
				.value('Host', '{{ host }}');
		</script>
	{{/append}}
{{/extend}}